#sisenseInsightBall{
  z-index: 10;
  position: absolute;
  left: 90%;
  top: 11%;
}

.sisense-insights{
  z-index: 1002;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 60px;
  top: 90px;
  direction: ltr;
}

.insight-ball-btn{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.20);
  background: #fffffe url(move.png) center no-repeat;
  cursor: move;
  display: none;
}

.insight-ball {
  height: 100px;
  width: 100px;
  display: flex;
  background-color: #ffcb05;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  opacity: 1;
  transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}

.insight-ball.shaker{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.insight-ball .insight-ball-icon {
  background-image: url('http://10.20.5.114:8094/sisense-ball-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 46px;
  height: 62px;
  margin: 15px auto 0px;
  position: relative;
}
.insight-ball .insight-ball-caption{
  color: black;
  font-family: Impact;
  font-weight: 100;
  font-size: 20px;
  margin: 10px;
  text-align: center;
  display: none;
}

.insight-ball.active,
.insight-ball:hover {
  transition: all 150ms ease;
  height: 130px;
  width: 130px;
  display: flex;
  flex-direction: column;
}

.insight-ball.active.clicked{
  animation: ball-spin 0.5s linear ;
  animation-fill-mode: both;
}

.insight-ball.active .insight-ball-caption,
.insight-ball:hover .insight-ball-caption {
  display: block;
}

.insights-content{
  width: 415px;
  height: 800px;
  color: black;
  text-align: center;
  border: 2px solid rgb(218, 208, 208);
  box-shadow: 0px 0px 2px 0px rgb(255, 203, 5);
  border-radius: 4px;
  z-index: 1;
  display: none;
  background-color: #fffffe;
}

.insights-content .menu{
  width: 100%;
  height: 54px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  background-color: #ffcb05;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insights-content .menu .menu-logo{
  height: 44px;
  width: 155px;
  margin-left: 15px;
  background: #ffcb05 url(http://10.20.5.114:8094/sisense.png) center no-repeat;
  background-size: cover;
}

.insights-content .menu .buttons{
  display: flex;
}

.insights-content .menu .close{
  height: 28px;
  width: 28px;
  margin-right: 10px;
  margin-left: 10px;
  background: #ffcb05 url(http://10.20.5.114:8094/cancel.png) center no-repeat;
  background-size: cover;
  cursor: pointer;
}

.insights-content .menu .move{
  height: 26px;
  width: 26px;
  background: #ffcb05 url(http://10.20.5.114:8094/move.png) center no-repeat;
  background-size: cover;
  cursor: move;
}

.insights-content .searchBox{
  width: 350px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding-left: 5px;
  margin-bottom: 15px;
  margin-top: 20px;
  height: 21px;
  outline: none;
  -webkit-appearance: none;
  border-radius: 100px;
  font-size: 14px;
}

.insights-content .widgets-list{
  overflow-y: auto;
  overflow-x: hidden;
  height: 675px;
  margin: 4px;
}

.insights-content .widgets-list .single-widget{
  width: 98%;
}

.single-widget:hover{
  border: 2px solid #ffcb05;
  cursor: move;
}

.insights-content .loader{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ffcb05;
  border-bottom: 16px solid #ffcb05;
  width: 60px;
  height: 60px;
  margin-top: 150px;
  margin-left: 150px;
  display: none;
  -webkit-animation: spin 2s linear;
  animation: spin 2s linear;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes ball-spin {
  0% { -webkit-transform: rotate(0deg); opacity: 1; right: 0px; position: absolute;}
  20% { -webkit-transform: rotate(90deg); opacity: 0.8; right: 20px; position: absolute;}
  40% { -webkit-transform: rotate(180deg); opacity: 0.6; right: 40px; position: absolute;}
  60% { -webkit-transform: rotate(180deg); opacity: 0.4; right: 60px; position: absolute;}
  80% { -webkit-transform: rotate(180deg); opacity: 0.2; right: 80px; position: absolute;}
  100% { -webkit-transform: rotate(360deg); opacity: 0;right: 100px; position: absolute;}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
